<a href="https://colab.research.google.com/github/leeje008/ML_final_project/blob/main/smote_variant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import time
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings(action='ignore')

# load The loan train data set

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Loan_Train.csv')
df.head()

   Id   Income  Age  ...  CURRENT_JOB_YRS CURRENT_HOUSE_YRS Risk_Flag
0   1  1303834   23  ...                3                13         0
1   2  7574516   40  ...                9                13         0
2   3  3991815   66  ...                4                10         0
3   4  6256451   41  ...                2                12         1
4   5  5768871   47  ...                3                14         1

[5 rows x 13 columns]

# drop the categorical variable and standard scaler

In [3]:
df = df.drop('Id',axis = 1)


y = df.Risk_Flag
X = df.drop('Risk_Flag', axis=1)


X = X.drop(['Married/Single','House_Ownership','Car_Ownership','Profession','CITY','STATE'],axis = 1)


X = StandardScaler().fit_transform(X)

In [4]:
 # pip install smote-variants

import smote_variants as sv

oversampler= sv.distance_SMOTE(random_state = 10)


start = time.time()

X_samp, y_samp= oversampler.sample(X, y)

end = time.time()

print(f"{end - start:.5f} sec")

X_over_var = pd.DataFrame(X_samp)
y_over_var = pd.DataFrame(y_samp)

X_over_var.to_csv('/content/drive/MyDrive/X_over_var.csv')
y_over_var.to_csv('/content/drive/MyDrive/y_over_var.csv')

2021-11-28 07:24:40,744:INFO:distance_SMOTE: Running sampling via ('distance_SMOTE', "{'proportion': 1.0, 'n_neighbors': 5, 'n_jobs': 1, 'random_state': 10}")

9.29179 sec

In [ ]:
from imblearn.over_sampling import SVMSMOTE

start = time.time()


svmsmote = SVMSMOTE(random_state = 101)


X_over_svm, y_over_svm = svmsmote.fit_resample(X, y)

end = time.time()


print(f"{end - start:.5f} sec")

In [ ]:
X_over_svm = pd,DataFrame(X_over_svm)
y_over_svm = pd.DataFrame(y_over_svm)



X_over_svm.to_csv('/content/drive/MyDrive/X_over_svm.csv')
y_over_svm.to_csv('/content/drive/MyDrive/y_over_svm.csv')